.btn {
  font-family: "Gill Sans", cursive;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  border: 1px solid black;
  border-radius: 6px;
  background-color: transparent;
  padding: 0 6px;
  margin: 0 16px 16px 0;
}

.btn:hover {
  background-color: black;
  color: whitesmoke;
}
